<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Bootcamp Tsoft">
    <test name="Navegador Chrome: Web">
        <classes>
            <class name="bctsoft.grupo5.testcases.atc01_VueloBajo"></class>
            <class name="bctsoft.grupo5.testcases.atc01_testCase"></class>
            <class name="bctsoft.grupo5.testcases.atc02_VueloMedio"></class>
            <class name="bctsoft.grupo5.testcases.atc03_VueloAlto"></class>
            <class name="bctsoft.grupo5.testcases.atc04_HotelBajo"></class>
            <class name="bctsoft.grupo5.testcases.atc05_HotelMedio"></class>
            <class name="bctsoft.grupo5.testcases.atc06_HotelAlto"></class>
            <class name="bctsoft.grupo5.testcases.atc07_TrasladoBajo"></class>
        </classes>
    </test>
</suite>